#login-form {
   width: 50%;
}

h1 {
    margin-bottom: 20px;
}

#login-button, #register-button {
    margin-top: 20px;
}

#register-link, #login-link {
    text-decoration: none;
    color: inherit;
}